
.items:hover {
    border-radius: 15px;
    color:red;
}
.items {
    left: 0px;
    cursor: pointer;
    left: 0;
    padding-left: 0;
    list-style: none;
    padding-bottom: 5px;
}

.contenedor{
    position: absolute;
    z-index: 1;
    right: 0;
    top:30vh;
    padding-left: 0;
    padding-right: 20px;
    width: 25%;
    height: auto;
    padding-bottom: 10px;
    color:black;
    background-color: #fffffe;
    border-radius: 4%;
    box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
    border-top: 15px solid rgb(184,35,35);
    align-content: center;
}
.iterador{
    margin:0px;
    padding: 0px;
    padding-left: 10px;
}
.icon{
    padding-right: 10px;
}
