.estado-ans-label {
    color: rgb(117, 117, 117);
    font-size: 10px;
    margin: -8px 0px 0px 0px;
}

.estado-ans-hr {
    margin: 6px 0px 0px 0px;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #bdbdbd; /* old IE */
    background-color: #bdbdbd; /* Modern Browsers */
}